
ul.sidebar-dropdown{
	width: 100% !important;
}
ul.sidebar-dropdown li{
	/*border-bottom: 1px solid #ddd;*/
	padding: 0px;
}
ul.sidebar-dropdown li a{
	display: inline-block;
    /*padding: 0px 15px;*/
    /*margin: 0px 10px;*/
    font-size: 17px;
}
ul.sidebar-dropdown li a i{
    font-size: 20px;
}
.rounded{
	border-radius: 20px;
}
.card-blog{
  border: 0;
}
.card-blog img{
  border-radius: 5px;
}
.card-blog img .chip-image
{
  /*height: auto;*/
  position: absolute;
  bottom: 100%;
}
.card-blog img .chip-image .date{
  padding: 5px 10px;
  color: #888;
  background-color: #C1CADB;
}
.card-blog p{
	display: inline-block;
	padding: 5px;
	padding-left: 0;
}
blockquote{
  display:block;
  background: #fff;
  padding: 60px;
  padding-left: 80px;
  padding-top: 40px;
  margin: 0 0 50px;
  position: relative;
  
  /*Font*/
  /*font-family: Georgia, serif;*/
  font-family: "FontAwesome";
  font-size: 25px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
}

blockquote::before{
  content: "\f10d"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  /*font-family: Georgia, serif;*/
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}
.chip-tag{
  padding: 2px 15px;
  background-color: #ECF0FB;
  border: 1px solid #C1CADB;
  border-radius: 50px;
  display: inline-block;

}
.publish-date{
  position: relative;
}
.publish-date .card{
  width: 80%;
  border-radius: 5px;
}
.publish-date span {
    position: absolute;
    /*right: 10px;*/
    left: 0px;
    /*top: 10px;*/
}
.publish-date span .date{
  background-color: #ECF0FB;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  display: block;
}
.publish-date p{
  margin: 0;
}
.publish-date span .month{
  background-color: #4569CD;
  /*font-size: 20px;*/
  /*font-weight: bold;*/
  padding: 10px;
  color: #fff;
  display: block;
}
.map-overlay{
  width: 100%;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: 
    linear-gradient( 
      rgba(193, 85, 246, .45),
      rgba(65, 104, 212, .45)
    ),
    url('../img/kontak/map.jpg') !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bda4', endColorstr='#00a4bd', GradientType=1 );
}
.login-card{
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 10px 40px rgba(0,0,0,0.3);
  position: absolute;
  margin-top: 70%;
  display: inline-block;
}
.input-custom{
  width: 100%;
  border-radius: 50px;
}
textarea.input-custom{
  width: 100%;
  border-radius: 10px;
  resize: none;
}
.input-custom:hover{
  border: 1px solid #4569CD;
}
.wrapper-button .col-sm-3{
  width: 25%;
}
/*.col-sm-12 .login-card{
  width: 90%;
  margin-top: 3%;
}*/
.sosmed-btn{
  width: 56px;
  height: 56px;
  vertical-align: middle;
  border-radius: 100%;
}
.sosmed-btn:hover{
  background-color: #46b2e0;
}
.sosmed-btn i{
  font-size: 25px;
  color: #fff;
  line-height: 30px;
}
@media (max-width: 768px){
  .login-card{
    margin-top: 5%;
    position: relative;
  }
  .map-overlay{
    height: 500px;
  }
}

#zoom {
  position: absolute;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .8);
  display: none;
}

#wrapper {
  margin: 0 auto;
  width: 100%;
}
#content { text-align: center; }

#view {
  margin: -51px 0;
  height: 384px;
  margin-left: -30%;
}

#thumbs {
  position: relative;
  margin: 20px 0;
}

#nav-left-thumbs { left: 5%; }

#nav-right-thumbs { right: 5%; }

#nav-left-thumbs, #nav-right-thumbs {
  position: absolute;
    top: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #555;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.6);
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
    cursor: pointer;
    transition-duration: .5s;
    z-index: 99;
}

#nav-left-thumbs:hover, #nav-right-thumbs:hover { background: lightgrey; }

#pics-thumbs {
  position: relative;
  padding: 5px 0;
  /*margin: 0 122px;*/
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  transition-duration: .8s;
}

#pics-thumbs img {
  padding: 5px;
  margin: 0 2px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,.6);
  border: 1px solid #4569CD;
  cursor: pointer;
  height: 75px;
  transition-duration: .5s;
}
.bordered-grey{
  border: 1px solid #666;
}
.blue-text{
  color: #5172d2;
}
.btn-gradient-buy{
    border-radius: 50px;
    color: #ffff;
    background: rgba(193,85,246,1);
    background: -moz-linear-gradient(left, rgba(193,85,246,1) 0%, rgba(65,104,212,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(193,85,246,1)), color-stop(100%, rgba(65,104,212,1)));
    background: -webkit-linear-gradient(left, rgba(193,85,246,1) 0%, rgba(65,104,212,1) 100%);
    background: -o-linear-gradient(left, rgba(193,85,246,1) 0%, rgba(65,104,212,1) 100%);
    background: -ms-linear-gradient(left, rgba(193,85,246,1) 0%, rgba(65,104,212,1) 100%);
    background: linear-gradient(to right, rgba(193,85,246,1) 0%, rgba(65,104,212,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c155f6', endColorstr='#4168d4', GradientType=1 );
    /*width: 100%;*/
    text-align: center;
    /*letter-spacing: .2em;*/
}
.rounded{
  border-radius: 50px !important;
}
.square-dropdown
{
    left: 10px;
    background-color: #999999;
    top: 0px;
    position: relative;
    width: 14px;
    display: inline-block;
    z-index: 337;
    height: 14px;
}
.tabs {
  width: 100%;
  background: transparent;
  padding: 20px 50px;
  margin: 20px auto;
  /*font-family: arial, sans-serif;*/
}

.tabs__tabs-panel {
  margin-bottom: -1px;
  border: 0;
}

.tabs-list {
  display: flex;
  border: 0;
}

.tabs-list__item {
  flex-basis: 200px;
  padding: 20px;
  border: 0;
  color: #666;
  background-color: rgba(255, 255, 255, 0);
  /*border: 1px solid rgba(150, 150, 150, 0);*/
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  /*border-radius: 3px 3px 0 0;*/
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: border-bottom .3s ease, background-color .3s ease, color .3s ease;
}

.tabs-list__item:hover {
  /*border-color: rgba(150, 150, 150, .6);*/
  background-color: rgba(255, 255, 255, 0.3);
  color: #333;
  /*border: 0;*/
}

.tabs-list__item.is-active {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 1);
  color: #333;
  border: 0;
}

.tabs-list__item-caption {
  font-size: 18px;
  text-transform: capitalize;
  /*font-weight: 700;*/
}

.tabs__content-panel {
  padding: 20px 0;
  background: #fff;
  /*border: 1px solid rgba(150, 150, 150, 1);*/
  border-bottom: 2px solid red;
  border: 0;  
}

.tabs-content {
  background: #fff;
  border: 0;
}

.tabs-content__item {
  display: none;
  padding: 0 20px;
}

.tabs-content__item.is-active {
  display: block;
}
.responsive-img
{
  width: 100%;
}
.box-green{
    background: -webkit-gradient(linear, center top, center bottom, from(#00BDA5),color-stop(60%, #00A4BD)) !important;
    background: -webkit-linear-gradient(top,#00BDA5 ,#00A4BD 60%) !important;
    background: linear-gradient(to bottom,#00BDA5 ,#00A4BD 60%) !important;
}
h5.card-title{
  font-weight: bold !important;
}
h5.card-title:hover{
  color: #5172d2;
}
.slider-area {
  padding: 5px 40px;
  border: 1px solid #ddd;
}

.slider {
  margin-top: 50px;
}
.noUi-horizontal .noUi-handle {
  width: 12px !important;
}
